.home{
    margin: 0;
    padding: 0;
    .container{
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10rem;
        padding-left: 5rem;
        line-height: 2;
    }
    h2{
        font-size: 48px;
        font-weight: 700;
        color: var(--text-color);
        font-family: "Playfair Display", serif;
        span{
            color: var(--accent-color);
        }
    }
    p{
        color: color-mix(in srgb, var(--text-color), transparent 20%);
        font-size: 20px;
        font-family: "Roboto", sans-serif;
    }
    .btn{
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        display: inline-block;
        padding: 8px 30px;
        border: 2px solid var(--accent-color);
        border-radius: 50px;
        transition: 0.3s;
        text-transform: uppercase;
        color: var(--text-color);
        margin-top: 1.6rem;
        font-family: "Roboto", sans-serif;
        &:hover{
            background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
        }
    }
    
    
}

@media (max-width: 480px) {
    .home {
        .container {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5rem;
            display: block;
        }
        
        h2 {
            font-size: 32px;
        }
        
        p {
            font-size: 16px;
        }
        
        .btn {
            padding: 7px 20px;
        }
    }
}
